/* body div {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
}

.assign-1-shape-2{
    background-color: rgb(138,43,226, 0.5);
}

.assign-1-shape-3{
    background-color: rgb(138,43,226, 0.1);
} */

/* .container{
    display: flex;
} */

/* .container>div{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    margin: 5px;
    background-image: url('img/css-img.png');
} */

/*
.assign-2-shape-1{
    background-repeat: no-repeat;
}

.assign-2-shape-2{
    background-repeat: repeat-y;
}

.assign-2-shape-3{
    background-repeat: repeat-x;
}

.assign-2-shape-4{
    background-repeat: repeat;
} */

/* .assign-3-shape-1{
    background-repeat: no-repeat;
}

.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: top right;
}

.assign-3-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
} */

/* .assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.assign-4-shape-2{
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: right;
}

.assign-4-shape-3{
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
}

.assign-4-shape-4{
    background-repeat: no-repeat;
    background-position: bottom right;
} */

/* .container>div{
    background-color: rgb(111, 137, 160);
    display: inline-block;
    outline: black solid 5px;
    padding: 30px;
    margin: 20px;
    border-width: 5px;
}

.element-1{
    border-color: red;
    border-style: solid;
}

.element-2{
    border-color: green blue;
    border-style: solid;
}

.element-3{
    border-color: yellow red green blue;
    border-style: dashed;
}
*/

/* .element{
    background-color: beige ;
    width: 400px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: beige;

}

.element-2{
    visibility: hidden;
    margin: 5px;
}

.element-3 ,.element-1{
    margin: 5px;
    padding: 7px;
    border-style: solid;
    border-color: transparent transparent transparent brown;

} */

/* .child .title{
    color: red;
}

.parent>.title{
    color: blue;
}

p, .parent+.title{
    color: green;
} */

/* div{
    padding: 10px;
    background-color: red;
    color: white;
    margin-bottom: 5px ;
    max-width: 400px;
    width: fit-content;
    height: 30px;
    overflow-y: hidden;
} */

/* .one{
    width: fit-content;
    margin: auto;
    font-size: 3rem;
    text-shadow: red  2px 2px, violet 3px 3px, blue 4px 4px;
    font-family: 'Cairo', sans-serif;
} */

/* .one, .two, .three{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 3rem;
}

.one{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.two{
    text-transform: capitalize;
}

.three{
    text-transform: lowercase;
} */

/* .one, .two ,.three{

    box-sizing: border-box;
    background-color: rgb(128,128,128, 0.1);
    width: 700px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;

} */

/* .two{
    white-space: nowrap;
    overflow: hidden;
}

.three{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

/* a{
    display: block;
    margin: auto;
    width: fit-content;
    text-decoration: none;
    padding: 20px;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(111, 145, 111);
    border-bottom: solid brown 10px;

} */
/* 
div{
    padding: 20px;
    border: rgb(255, 0, 0) solid 3px;
    text-align: center;
}

p{
    padding: inherit;
    border: inherit;
    background-color: rgb(181, 149, 149);
}
 */

/* .one{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.two{
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

.three{
    font-family: 'Jomhuria', sans-serif;
    font-weight: 400;
} */

/* .one{
    font-size: calc(50/16*(1rem));
}

.two{
    font-size: calc(40/16*(1rem));
}

.three{
    font-size: calc(30/16*(1rem));
} */

/* .main{
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: rgb(139, 116, 116);
    overflow: hidden;
}

.main>div{
    box-sizing: border-box;
    margin: 15px 0 15px 15px;
    padding: 15px;
    background-color: rgb(200, 166, 166);
}

.one{
    width: calc(100% - 30px);
    float: left;
}

.two {
    width: calc((100% - 60px) / 3);
    float: left;
}

.three {
    width: calc((100% - 45px) / 2);
    float: left;
}

.four{
    width: calc((100% - 75px) / 4);
    float: left;
} */

/* div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: gray; /* Get The Background From Image */
    color: black;
}

.one{
    background-color: rgb(128 128 128/0.1);
}

.two{
    opacity: 0.1;
} */